<form (ngSubmit)="processData()" #bookForm="ngForm">
  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="file" id="bookImage" class="form-control" />
    <label class="form-label" for="bookImage">Image</label>
  </div>
  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="text" id="bookName" class="form-control" />
    <label class="form-label" for="bookName">Name</label>
  </div>

  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" id="bookAuthor" class="form-control form-input" />
        <label class="form-label" for="bookAuthor">Author</label>
      </div>
    </div>
    <div class="col dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="bookCategoryId" data-bs-toggle="dropdown" aria-expanded="false">
        Category
      </button>
      <ul class="dropdown-menu" aria-labelledby="bookCategoryId">
        <li><a class="dropdown-item">Action</a></li>
        <li><a class="dropdown-item">Another action</a></li>
        <li><a class="dropdown-item">Something else here</a></li>
      </ul>
    </div>

  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="text" id="bookPublisher" class="form-control" />
    <label class="form-label" for="bookPublisher">Publisher</label>
  </div>

  <!-- Number input -->
  <div class="form-outline mb-4">
    <input type="number" id="bookNumber" class="form-control" />
    <label class="form-label" for="bookNumber">Number</label>
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" id="bookDescription" rows="4"></textarea>
    <label class="form-label" for="bookDescription">Description</label>
  </div>



  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">ADD BOOK</button>
</form>
