<div class="container-fluid">
    <input
      [(ngModel)]="searchQuery"
      (keyup)="getBook()"
      placeholder="Search"
    />
<div class="container p-4 pb-0">
    <div class="row row-cols-1 row-cols-md-3 g-4" >
        <div class="col" *ngIf="books.length > 0;">
            <div class="card" *ngFor="let book of books">
                <div class="card-body">
                <a routerLink="/book/{{ book.bookId }}">
                <h5 class="card-title" >{{ book.bookName | uppercase }}</h5>
                <p class="card-text">
                    {{book.bookAuthor}} - {{book.bookCategoryId}}
                </p>
                <p>
                    {{book.bookDescription}}
                </p>
                </a>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<button type="button" class="btn btn-outline-primary">
    <a routerLink="book/add">Add Book</a>
  </button>
</div>
    


<!-- <div class="links">-->
<!--  <ul>-->
<!--    <li *ngFor="let currId of ids">-->
<!--      <a [routerLink]='"."' [fragment]="currId">{{currId}}</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div> -->

<!--<section>-->
<!--  <div class="section" *ngFor="let currId of ids" [attr.id]='currId' >-->
<!--    <h1>{{currId}}</h1>-->
<!--    <div class="content">-->
<!--      Lorem ipsum mas bro-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->


<!--&lt;!&ndash; Tabs navs &ndash;&gt;-->
<!--<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">-->
<!--  <li class="nav-item" role="presentation" *ngFor="let currTab of tabs">-->
<!--    <a-->
<!--      class="nav-link active"-->
<!--      id="ex1-tab-1"-->
<!--      data-mdb-toggle="tab"-->
<!--      routerLink='"."'-->
<!--      [fragment]="currTab"-->
<!--      role="tab"-->
<!--      aria-controls="ex1-tabs-1"-->
<!--      aria-selected="true"-->
<!--    >{{currTab}}</a-->
<!--    >-->
<!--  </li>-->
<!--</ul>-->
<!--&lt;!&ndash; Tabs navs &ndash;&gt;-->

<!--&lt;!&ndash; Tabs content &ndash;&gt;-->
<!--<div class="tab-content" id="ex1-content">-->
<!--  <div-->
<!--    class="tab-pane fade show active"-->
<!--    id="{{ex1-tabs-1}}"-->
<!--    role="tabpanel"-->
<!--    aria-labelledby="ex1-tab-1"-->
<!--    *ngFor="let currTab of tabs"-->
<!--  >-->
<!--    Tab 1 content-->
<!--  </div>-->
<!--  <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">-->
<!--    Tab 2 content-->
<!--  </div>-->
<!--  <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">-->
<!--    Tab 3 content-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; Tabs content &ndash;&gt;-->

